@import './fonts.scss';
@import './reset.scss';
@import './loading.scss';

html {
  font-size: 10px;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  font-family: Pretendard-Regular;
}

::selection {
  background: #000000;
  color: #f43f00;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* 1줄 */
.line-one {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  white-space: break-spaces !important;
}

/* 2줄 */
.line-two {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  white-space: break-spaces !important;
}

.ant-btn div {
  display: none;
}

.basic-select-wrapper-item {
  font-size: 16px;
  padding: 5px !important;
}

.basic-select-wrapper-paper {
  border-radius: 0 !important;
}

.basic-select-wrapper-popup {
  border-radius: 0 !important;
}

.basic-select-wrapper-popup .ant-select-item-option-selected {
  border-radius: 0 !important;
  background-color: transparent !important;
  border-bottom: 2px solid #000000;
}

@media (max-width: 1500px) {
  .container {
    max-width: 96vw;
  }
}
